body {
  background-color: teal;
}

.bulb {
  height: 20px;
  width: 20px;
  background: black;
  margin: 5px;
  display: inline-block;
}

.bulb.chosen {
  border: 1px double red;
}
.bulb.active {
  background-color: yellow;
}
